<!DOCTYPE html>
<html lang="pt-BR" data-theme="{{.defaultTheme}}">
  {{template "partials/general/header" .}}
  <body
    class="bg-[var(--bg-color)] text-[var(--text-color)] transition-colors duration-300"
  >
    <!-- Apresenta a navbar -->
    {{template "partials/general/navbar" .}}

    <!-- Logo -->
    {{template "partials/general/logo" .}}

    <!-- Conteúdo Principal -->
    {{template "partials/home/main" .}}

    <!-- Apresenta o footer -->
    {{template "partials/general/footer" .}}

    <!-- Load Scripts -->
    {{template "partials/general/scripts" .}}
  </body>
</html>
