<!DOCTYPE html>
<html lang="pt-BR" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minha Conexão - MW Soluções</title>
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- CSS Personalizado -->
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body
    class="bg-[var(--bg-color)] text-[var(--text-color)] transition-colors duration-300"
  >
    <!-- Navbar -->
    <nav
      class="bg-[var(--nav-bg-color)] text-[var(--nav-text-color)] p-4 flex justify-between items-center shadow"
    >
      <!-- Título da aplicação -->
      <div class="text-xl font-bold">Minha Conexão</div>
      <!-- Switch de Tema -->
      <div class="flex items-center">
        <label for="themeSwitch" class="mr-2">Dark Mode</label>
        <input
          type="checkbox"
          id="themeSwitch"
          class="toggle-checkbox h-6 w-6"
        />
      </div>
    </nav>

    <!-- Conteúdo Principal -->
    <div class="container mx-auto p-8">
      <!-- Logo centralizada -->
      <div class="flex justify-center mb-8">
        <img src="${logoUrl}" alt="Logo" class="max-w-xs" />
      </div>

      <!-- Spinner de carregamento -->
      <div id="spinner" class="spinner"></div>

      <!-- Card com Informações do IP -->
      <div
        id="ipInfoCard"
        class="max-w-md mx-auto bg-[var(--card-bg-color)] text-[var(--card-text-color)] rounded-lg shadow-lg p-6 hidden"
      >
        <h1 class="flex text-4xl font-bold mb-4 justify-center">
          Informações do IP
        </h1>
        <table class="w-full">
          <tbody id="ipInfoTable">
            <!-- As linhas de informação serão inseridas aqui -->
          </tbody>
        </table>
      </div>
    </div>

    <!-- JavaScript Personalizado -->
    <script src="/assets/js/general.js"></script>
    <script src="/assets/js/network.js"></script>
  </body>
</html>
